* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}

.menu {
  background-color: #0d1a26;
  color: #fff;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
.menu .menu__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1300px;
  height: 100%;
  margin: 0 auto;
}
.menu .menu__container .menu__links {
  height: 100%;
  display: flex;
}
.menu .menu__container .menu__links .menu__item {
  list-style: none;
  height: 100%;
}
.menu .menu__container .menu__links .menu__item .menu__link {
  color: #fff;
  text-decoration: none;
  padding: 0 30px;
  display: flex;
  height: 100%;
  align-items: center;
}
.menu .menu__container .menu__links .menu__item .menu__link:hover {
  background-color: rgba(166, 155, 3, 0.6784313725);
}
.menu .menu__container a {
  text-decoration: none;
  color: #fff;
}
.menu .menu__container a .menu__logo {
  cursor: pointer;
}
.menu .menu__container a .menu__logo:hover {
  color: rgba(166, 155, 3, 0.6784313725);
}
.menu .menu__container .menu__links--show {
  transform: unset;
  width: 100%;
}
.menu .menu__container .menu__hamburguer {
  height: 100%;
  display: none;
  align-items: center;
  cursor: pointer;
  display: none;
}
.menu .menu__container .menu__hamburguer .menu__img {
  display: block;
  padding: 0 10px;
}
.menu .menu__container .menu__hamburguer .menu__img:hover {
  border: 2px solid rgba(166, 155, 3, 0.6784313725);
  color: rgba(166, 155, 3, 0.6784313725);
  padding: 7px;
  border-radius: 5px;
}

@media (max-width: 800px) {
  .menu .menu__container .menu__hamburguer {
    display: flex;
  }
  .menu .menu__container .menu__hamburguer .menu__img {
    font-size: 26px;
  }
  .menu .menu__container .menu__links {
    display: none;
  }
  .menu .menu__container .menu__links--show {
    position: fixed;
    width: 100%;
    max-width: 400px;
    top: 70px;
    bottom: 0;
    right: 0;
    background-color: #0d1a26;
    overflow-y: auto;
    display: grid;
    grid-auto-rows: max-content;
  }
  .menu .menu__container .menu__links--show .menu__item .menu__link {
    padding: 25px 0;
    padding-left: 30px;
    height: auto;
  }
}
header {
  background-image: url("/assets/image/fondo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}
header .encabezado {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
header .encabezado .encabezado__foto .encabezado__foto__img {
  width: 200px;
  border-radius: 50%;
  transition: transform 0.5s;
  cursor: pointer;
}
header .encabezado .encabezado__foto .encabezado__foto__img:hover {
  transform: scale(1.3);
}
header .encabezado .encabezado__texto {
  color: #fff;
  padding-left: 50px;
}
header .encabezado .encabezado__texto .encabezado__texto__saludo {
  font-size: 20px;
}
header .encabezado .encabezado__texto .encabezado__texto__titulo {
  font-style: italic;
}

@media (max-width: 700px) {
  header .encabezado {
    flex-direction: column;
  }
  header .encabezado .encabezado__foto {
    margin-bottom: 30px;
  }
}
@media (max-width: 470px) {
  header .encabezado .encabezado__foto .encabezado__foto__img {
    width: 150px;
    margin-bottom: 50px;
  }
  header .encabezado .encabezado__texto {
    padding-left: 0;
  }
  header .encabezado .encabezado__texto .encabezado__texto__saludo {
    font-size: 17px;
  }
  header .encabezado .encabezado__texto .encabezado__texto__nombre {
    font-size: 25px;
  }
  header .encabezado .encabezado__texto .encabezado__texto__titulo {
    font-size: 20px;
  }
}
main .sobremi {
  text-align: center;
  width: 80%;
  border: 3px solid black;
  border-radius: 50px;
  margin: 150px auto;
  padding: 10px 30px 30px;
  box-shadow: 9px 10px 22px -8px rgba(0, 0, 0, 0.75);
}
main .sobremi .sobremi__titulo {
  padding-bottom: 10px;
  text-decoration: underline;
  font-size: 35px;
}
main .sobremi .sobremi__parrafo {
  margin-bottom: 20px;
}
main .sobremi .sobremi__btn {
  background-color: #023859;
  text-decoration: none;
  color: white;
  padding: 10px 50px;
  border-radius: 50px;
}
main .sobremi .sobremi__btn:hover {
  background-color: #071f2c;
  font-weight: bold;
}

main .tecnologias {
  margin-bottom: 150px;
}
main .tecnologias .tecnologias__titulo {
  font-size: 35px;
  text-decoration: underline;
  text-align: center;
  margin-bottom: 30px;
}
main .tecnologias .tecnologias__logos {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 80px;
  width: 80%;
  margin: auto;
}
main .tecnologias .tecnologias__logos .tecnologias__logos__logo {
  transition: transform 2s;
  cursor: pointer;
}
main .tecnologias .tecnologias__logos .tecnologias__logos__logo:hover {
  transform: rotate(360deg);
}
main .tecnologias .tecnologias__logos .tecnologias__logos__logo img {
  width: 100px;
}
main .tecnologias .tecnologias__logos .tecnologias__logos__logo p {
  font-weight: bold;
  text-align: center;
}

.mis__servicios {
  padding-bottom: 50px;
}
.mis__servicios h3 {
  font-size: 35px;
  text-decoration: underline;
  text-align: center;
  margin-bottom: 30px;
}
.mis__servicios .servicios {
  margin: 0 80px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
.mis__servicios .servicios .servicios__servicio {
  width: 350px;
  min-height: 380px;
  background-color: rgba(2, 56, 89, 0.1647058824);
  text-align: center;
  border-radius: 15px;
  padding: 20px;
  transition: all 1s;
}
.mis__servicios .servicios .servicios__servicio:hover {
  transform: translateY(-25px);
  box-shadow: 4px 35px 29px -16px rgba(2, 56, 89, 0.32);
}
.mis__servicios .servicios .servicios__servicio .servicios__servicio__imagen .servicios__servicio__imagen__img {
  width: 100px;
  margin-bottom: 15px;
}
.mis__servicios .servicios .servicios__servicio .servicios__servicio__titulo {
  margin-bottom: 15px;
}