* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}

.menu {
  background-color: #0d1a26;
  color: #fff;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
.menu .menu__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1300px;
  height: 100%;
  margin: 0 auto;
}
.menu .menu__container .menu__links {
  height: 100%;
  display: flex;
}
.menu .menu__container .menu__links .menu__item {
  list-style: none;
  height: 100%;
}
.menu .menu__container .menu__links .menu__item .menu__link {
  color: #fff;
  text-decoration: none;
  padding: 0 30px;
  display: flex;
  height: 100%;
  align-items: center;
}
.menu .menu__container .menu__links .menu__item .menu__link:hover {
  background-color: rgba(166, 155, 3, 0.6784313725);
}
.menu .menu__container a {
  text-decoration: none;
  color: #fff;
}
.menu .menu__container a .menu__logo {
  cursor: pointer;
}
.menu .menu__container a .menu__logo:hover {
  color: rgba(166, 155, 3, 0.6784313725);
}
.menu .menu__container .menu__links--show {
  transform: unset;
  width: 100%;
}
.menu .menu__container .menu__hamburguer {
  height: 100%;
  display: none;
  align-items: center;
  cursor: pointer;
  display: none;
}
.menu .menu__container .menu__hamburguer .menu__img {
  display: block;
  padding: 0 10px;
}
.menu .menu__container .menu__hamburguer .menu__img:hover {
  border: 2px solid rgba(166, 155, 3, 0.6784313725);
  color: rgba(166, 155, 3, 0.6784313725);
  padding: 7px;
  border-radius: 5px;
}

@media (max-width: 800px) {
  .menu .menu__container .menu__hamburguer {
    display: flex;
  }
  .menu .menu__container .menu__hamburguer .menu__img {
    font-size: 26px;
  }
  .menu .menu__container .menu__links {
    display: none;
  }
  .menu .menu__container .menu__links--show {
    position: fixed;
    width: 100%;
    max-width: 400px;
    top: 70px;
    bottom: 0;
    right: 0;
    background-color: #0d1a26;
    overflow-y: auto;
    display: grid;
    grid-auto-rows: max-content;
  }
  .menu .menu__container .menu__links--show .menu__item .menu__link {
    padding: 25px 0;
    padding-left: 30px;
    height: auto;
  }
}
header {
  background-image: url("../image/fondo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 70px;
}
header .encabezado {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
header .encabezado .encabezado__foto .encabezado__foto__img {
  width: 200px;
  border-radius: 50%;
  cursor: pointer;
}
header .encabezado .encabezado__texto {
  color: #fff;
  padding-left: 50px;
}
header .encabezado .encabezado__texto .encabezado__texto__saludo {
  font-size: 20px;
}
header .encabezado .encabezado__texto .encabezado__texto__titulo {
  font-style: italic;
}

@media (max-width: 700px) {
  header .encabezado {
    flex-direction: column;
  }
  header .encabezado .encabezado__foto {
    margin-bottom: 30px;
  }
}
@media (max-width: 470px) {
  header .encabezado .encabezado__foto .encabezado__foto__img {
    margin-bottom: 30px;
  }
  header .encabezado .encabezado__texto {
    padding-left: 0;
  }
  header .encabezado .encabezado__texto .encabezado__texto__saludo {
    font-size: 17px;
  }
  header .encabezado .encabezado__texto .encabezado__texto__nombre {
    font-size: 25px;
  }
  header .encabezado .encabezado__texto .encabezado__texto__titulo {
    font-size: 20px;
  }
}
main .sobremi {
  padding-top: 80px;
}
main .sobremi .sobremi__titulo {
  text-align: center;
  text-decoration: underline;
  font-size: 35px;
}
main .sobremi .sobremi__contenedor {
  display: flex;
  gap: 40px;
  margin: 50px;
}
main .sobremi .sobremi__contenedor .sobremi__texto {
  flex: 1;
}
main .sobremi .sobremi__contenedor .sobremi__texto .sobremi__subtitulo {
  font-size: 25px;
  margin-bottom: 30px;
}
main .sobremi .sobremi__contenedor .sobremi__texto .sobremi__parrafo {
  text-align: justify;
  margin-bottom: 20px;
  line-height: 25px;
}
main .sobremi .sobremi__contenedor .sobremi__tecnologias {
  flex: 1;
}
main .sobremi .sobremi__contenedor .sobremi__tecnologias .tecnologias__subtitulo {
  font-size: 25px;
  margin-bottom: 30px;
}
main .sobremi .sobremi__contenedor .sobremi__tecnologias .tecnologias__logos {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
}
main .sobremi .sobremi__contenedor .sobremi__tecnologias .tecnologias__logos .tecnologias__logos__logo {
  transition: transform 2s;
  cursor: pointer;
}
main .sobremi .sobremi__contenedor .sobremi__tecnologias .tecnologias__logos .tecnologias__logos__logo:hover {
  transform: rotate(360deg);
}
main .sobremi .sobremi__contenedor .sobremi__tecnologias .tecnologias__logos .tecnologias__logos__logo img {
  width: 90px;
}
main .sobremi .contenedor__btn {
  text-align: center;
}
main .sobremi .contenedor__btn .sobremi__btn {
  display: inline-block;
  background-color: #023859;
  text-decoration: none;
  color: white;
  padding: 10px 100px;
  border-radius: 10px;
  margin-bottom: 100px;
}
main .sobremi .contenedor__btn .sobremi__btn:hover {
  background-color: #071f2c;
}

@media (max-width: 900px) {
  .sobremi .sobremi__contenedor {
    flex-direction: column;
  }
  .sobremi .sobremi__contenedor .sobremi__texto .sobremi__subtitulo {
    text-align: center;
  }
  .sobremi .sobremi__contenedor .sobremi__tecnologias .tecnologias__subtitulo {
    text-align: center;
  }
}
/*
}
@media(max-width: 880px){
    .sobremi__tecnologias{
        align-items: center;
        flex-direction: column;
        .sobremi{
            width: 100%;
            margin: 10px;
            .sobremi__titulo{
                text-align: center;
            }
        }
    }
}
*/
.mis__servicios {
  background-color: #ececec;
  padding: 80px 10px 100px 10px;
}
.mis__servicios h3 {
  font-size: 35px;
  text-decoration: underline;
  text-align: center;
  margin-bottom: 50px;
}
.mis__servicios .servicios {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}
.mis__servicios .servicios .servicios__servicio {
  width: 350px;
  min-height: 350px;
  background-color: rgba(2, 56, 89, 0.1647058824);
  text-align: center;
  border-radius: 15px;
  padding: 20px;
  transition: all 1s;
}
.mis__servicios .servicios .servicios__servicio:hover {
  transform: translateY(-25px);
  box-shadow: 4px 35px 29px -16px rgba(2, 56, 89, 0.32);
}
.mis__servicios .servicios .servicios__servicio .servicios__servicio__imagen .servicios__servicio__imagen__img {
  width: 100px;
  margin-bottom: 15px;
}
.mis__servicios .servicios .servicios__servicio .servicios__servicio__titulo {
  margin-bottom: 15px;
}

.footer {
  background-color: #f8f8f8;
  padding: 20px 0;
}
.footer .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}
.footer .container .container__links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
.footer .container .container__links li {
  margin-right: 20px;
}
.footer .container .container__links li a {
  color: #333;
  text-decoration: none;
  font-size: 1.5rem;
}
.footer .container .container__links li a:hover {
  color: #007bff;
}
.footer .container .container__links li a .fab {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  text-align: center;
  text-decoration: inherit;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}