header{
    background-image:url(/assets/image/fondo4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    .encabezado{
        padding-top: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        .encabezado__foto{
            .encabezado__foto__img{
                width: 200px;
                border-radius: 50%;
            }
        }
        .encabezado__texto{
            color: #fff;
            padding-left: 50px;
            .encabezado__texto__titulo{
                font-style: italic;
            }
        }
    }
}