main{
    .sobremi{
        background-color: #ececec;
        padding-top: 80px;
        .sobremi__titulo{
            text-align: center;
            text-decoration: underline;
            font-size: 35px;
        }
        .sobremi__contenedor{
            display: flex;
            gap: 100px;
            margin: 50px;
            .sobremi__texto{
                flex: 1;
                .sobremi__subtitulo{
                    font-size: 25px;
                    margin-bottom: 30px;
                }
                .sobremi__parrafo{
                    text-align: justify;
                    margin-bottom: 20px;
                    line-height: 25px;
                }
            }
            .sobremi__tecnologias{
                flex: 1;
                .tecnologias__subtitulo{
                    font-size: 25px;
                    margin-bottom: 30px;
                }
                .tecnologias__logos{
                    display: flex;
                    justify-content: space-around;
                    flex-wrap: wrap;
                    gap: 30px;
                    .tecnologias__logos__logo{
                        transition: transform 2s;
                        cursor: pointer;
                        &:hover{
                            transform: rotate(360deg);
                        }
                        img{
                            width: 90px;
                        }
                    }
                }
            }
        }
        .contenedor__btn{
            text-align: center;
            .sobremi__btn{
                display:inline-block;
                background-color: #023859;
                text-decoration: none;
                color: white;
                padding: 10px 100px;
                border-radius: 10px;
                margin-bottom: 100px;
                &:hover{
                    background-color: #071f2c;
                }
            }
        }
    }
}

@media(max-width: 900px){
    .sobremi{
        .sobremi__contenedor{
            flex-direction: column;
            gap: 50px !important;
            margin: 10px !important;
            .sobremi__texto{
                .sobremi__subtitulo{
                    text-align: center;
                }
            }
            .sobremi__tecnologias{
                .tecnologias__subtitulo{
                    text-align: center;
                }
            }
        }
    }
}
