main{
    .tecnologias{
        margin-bottom: 150px;
        .tecnologias__titulo{
            font-size: 35px;
            text-decoration: underline;
            text-align: center;
            margin-bottom: 30px;
        }
        .tecnologias__logos{
            display: flex;
            justify-content:space-around;
            flex-wrap: wrap;
            gap: 80px;
            width: 80%;
            margin: auto;
            .tecnologias__logos__logo{
                transition: transform 2s;
                cursor: pointer;
                &:hover{
                    transform: rotate(360deg);
                }
                img{
                    width: 100px;
                }
                p {
                    font-weight: bold;
                    text-align: center;
                }
            }

        }
    }
}